body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
  }
  
  .calculator {
    background: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgba(255, 255, 255, 0.913);
    width: 350px;
  }
  
  #display {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: right;
    padding-right: 5px;
    padding-left: 3px;
    border: 1px solid #000000;
    box-shadow: #ffffff;
    border-radius: 5px;
    background: #ffffff;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    padding: 15px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: #e0e7ff;
    color: #000000;
    cursor: pointer;
    transition: all 0.2s;
  }
  
  button:hover {
    background-color: #c7d2fe;
  }
  
  button:active {
    background-color: #a5b4fc;
  }
  